xsd/src/main/resources/datasource.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="datasource">
    <xs:complexType>
        <xs:sequence>
            <xs:element type="xs:string" name="name" />
            <xs:element type="xs:string" name="friendlyName"/>
            <xs:element type="xs:string" name="url"/>
            <xs:element type="xs:string" name="user"/>
            <xs:element type="xs:string" name="password"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>