xsd/src/main/resources/metadata.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="metadata">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="BaseMetricCalculation" name="baseMetricCalculation" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element type="KpiDef" name="kpi" maxOccurs="unbounded" minOccurs="0" />
                <xs:element type="DimensionDef" name="dimension" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="BaseMetricCalculation">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="calculation"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KpiDef">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="friendlyName"/>
            <xs:element type="Column" name="column" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="OfferedMetric" name="offeredMetric" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Column">
        <xs:sequence>
            <xs:element type="xs:string" name="postfix"/>
            <xs:element type="DataType" name="datatype"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OfferedMetric">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="calculation"/>
            <xs:element type="xs:string" name="friendlyName" minOccurs="0"/>
            <xs:element type="xs:string" name="description" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DimensionDef">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="friendlyName" minOccurs="0"/>
            <xs:element type="DataType" name="datatype"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="DataType">
        <xs:restriction base="xs:string">
            <xs:pattern value="INT16|INT32|INT64|FLOAT|STRING|BOOLEAN"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>